<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Twitter Tracker</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>



<form action = "/createPost" method = "post">
    <input type = "text" placeholder = "Enter your post" name = "createPost"/>
    <button type="submit">Submit New Post</button>
</form>

<br>

<form action = "/updatePost" method = "post">
    <input type = "text" placeholder = "Post #" name = "num"/>
    <input type = "text" placeholder="Edit post" name = "updatePost"/>
    <button type="submit">Update Post</button>
</form>

<br>

<form action = "/deletePost" method = "post">
    <input type = "text" placeholder = "Which post do you want to delete?" name = "deletePost"/>
    <button type="submit">Delete Post</button>
</form>

<br>
<br>
<br>

{{loginName}}'s tracked Twitter posts:

<ul>

    {{#createPost}}
    <li>
        Post ID: {{id}}...  {{text}}
    </li>
    {{/createPost}}

</ul>



<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>